@using AccountingTM.ViewModels.TechnicalEquipment
@model InfoViewModel

@* Изменение дополнительной информации *@
<div class="modal fade" tabindex="-1" id="editAdditionalModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Редактирование информации о техническом средстве</h5>
				<input type="hidden" id="editAdditionalId">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-1">
					<label for="floatingInput">Серийный номер</label>
					<input value="@Model.SerialNumber" type="text" class="form-control" id="serialNumber" name="serialNumber" placeholder="Серийный номер" />
				</div>

				<div class="mb-1">
					<label for="floatingInput">Инвентарный номер</label>
					<input value="@Model.InventoryNumber" type="text" class="form-control" id="inventoryNumber" name="inventoryNumber" placeholder="Инвентарный номер" />
				</div>

				<div class="mb-1">
					<label for="floatingInput">Ответственный</label>
					<select id="employee">
						@if(Model.Employee != null)
						{
							<option value="@Model.Employee.Id" selected>
								@Model.Employee.FullName
							</option>
						}
					</select>
				</div>

				<div class="mb-1">
					<label for="floatingInput">Местоположение</label>
					<select id="location">
						@if (Model.Location != null)
						{
							<option value="@Model.Location.Id" selected>
								@Model.Location.Name
							</option>
						}
					</select>
				</div>
				@* <input type="text" class="form-control" id="date" name="date" placeholder="Дата изготовления" /> *@
				<div class="mb-1">
					<label for="floatingInput">Дата изготовления</label>
					<input value="@Model.Date" type="text" id="date" class="form-control" name="date" placeholder="Дата изготовления" @* value="@Model.Date.ToString("dd.MM.yyyy")" *@>
				</div>

				<div class="mb-1">
					<label for="floatingInput">Дата ввода в эксплуатацию</label>
					<input value="@Model.DateStart" type="text" class="form-control" id="dateStart" name="dateStart" placeholder="Дата ввода в эксплуатацию" />
				</div>

				<div class="mb-1">
					<label for="floatingInput">Средний срок работы</label>
					<input value="@Model.DateEnd" type="text" class="form-control" id="dateEnd" name="dateEnd" placeholder="Средний срок работы" />
				</div>

				<div class="mb-1">
					<label for="floatingInput">Гарантийный срок работы</label>
					<input value="@Model.DateGarant" type="text" class="form-control" id="dateGarant" name="dateGarant" placeholder="Гарантийный срок работы" />
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				<button id="editAdditionalBtn" class="btn btn-primary">Изменить</button>
			</div>
		</div>
	</div>
</div>