@* @using AccountingTM.Views.Shared.Components.Input;


@model InputViewModel 

 *@

@* <div class="input">
	<label for="label1" class="input__label">@Model.Label</label>
	<div class="input__content">
		<input type="@Model.Type" placeholder="@Model.Placeholder" name="@Model.AspFor" />
		@if (!string.IsNullOrEmpty(Model.Icon))
		{
			<img class="input__img" src="@Model.Icon" />
		}
		
	</div>
</div> *@