@using AccountingTM.ViewModels.TechnicalEquipment
@model InfoViewModel

@{
    ViewData["Title"] = "TechnicalEquipmentInfo";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

@section LeftNavbar {
	<ol class="breadcrumb float-sm-right m-0 bg-white">
		<li class="breadcrumb-item"><a asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">Home</a></li>
		<li class="breadcrumb-item"><a asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">TechnicalEquipment</a></li>
		<li class="breadcrumb-item active">Info</li>
	</ol>
}
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Инфо о ТС</h1>
				<input type="text" id="technicalEquipmentId" value="@(Model.TechnicalId)" hidden>
			</div>
		</div>
	</div>
</section>

<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
	<div class="row">
		<div class="col-1">
			<a class="btn btn-default" asp-area="" asp-controller="TechnicalEquipment" asp-action="Index">Назад</a>
		</div>
        <div class="col-9">
            <h3>@Model.TypeEquipment @Model.Brand @Model.Model</h3>
        </div>
        <div class="col-2 text-end">
            <button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#editBasicModal" type="button">
                <i class="fa-solid fa-pen"></i>
            </button>
            <button class="btn btn-default" type="button">
                <i class="fa-solid fa-download"></i>
            </button>
            <button class="btn btn-default" type="button">
                <i class="fa-solid fa-print"></i>
            </button>
        </div>
	</div>
</div>

<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
	<div class="row">
		
		<div class="col-3 p-1">
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="floatingInputValue" value="@(Model.Status ?? string.Empty)" readonly>
				<label for="floatingInputValue">Статус</label>
			</form>
		</div>
		<div class="col-3 p-1">
			<form class="form-floating mb-2">
				@if(Model.Set != null){
					<a href="/Set/@Model.Set.Id" class="form-control text-decoration-none" readonly>
						@Model.Set.Name
					</a>
				}
				else{
					<input type="text" class="form-control" id="floatingInputValue" value="Не входит в комплект" readonly>

				}

				<label for="floatingInputValue">Комплект</label>
			</form>
		</div>
		<div class="col-3 p-1">
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="floatingInputValue" value="Добавить дату" readonly>
				<label for="floatingInputValue">Последнее обслуживание</label>
			</form>
		</div>
		<div class="col-3 p-1">
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="floatingInputValue" value="Добавить дату" readonly>
				<label for="floatingInputValue">Последнее изменение</label>
			</form>
		</div>

@* 		<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Подсказка вверху">
			Подсказка вверху
		</button> *@

		
	</div>
</div>



<div class="container col-12">
	<div class="row">
		<div class="col-3 p-1">
			<div class="row btn-light">
				<h4>Основная информация</h4>
				<img src="~/img/technical-support.png" class="img-fluid mb-3" alt="Technical Support">
			</div>
<form class="form-floating mb-2">
				<input type="text" class="form-control" id="serialNumberInput" value="@(Model.SerialNumber ?? string.Empty)" readonly>
				<label for="serialNumberInput">Серийный номер</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="inventoryNumberInput" value="@Model.InventoryNumber" readonly>
				<label for="inventoryNumberInput">Инвентарный номер</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="responsibleEmployeeInput" value="@(Model.Employee?.FullName ?? string.Empty)" readonly>
				<label for="responsibleEmployeeInput">Ответственный</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="locationInput" value="@Model.Location.Name" readonly>
				<label for="locationInput">Местоположение</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="manufactureDateInput" value="@(Model.Date?.ToString("dd.MM.yyyy") ?? string.Empty)" readonly>
				<label for="manufactureDateInput">Дата изготовления</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="startDateInput" value="@(Model.DateStart?.ToString("dd.MM.yyyy") ?? string.Empty)" readonly>
				<label for="startDateInput">Ввод в эксплуатацию</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="averageLifetimeInput" value="@(Model.DateEnd?.ToString("dd.MM.yyyy") ?? string.Empty)" readonly>
				<label for="averageLifetimeInput">Средний срок работы</label>
			</form>
			<form class="form-floating mb-2">
				<input type="text" class="form-control" id="warrantyPeriodInput" value="@(Model.DateGarant?.ToString("dd.MM.yyyy") ?? string.Empty)" readonly>
				<label for="warrantyPeriodInput">Гарантийный срок работы</label>
			</form>			
			<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
				<button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#editAdditionalModal" type="button">
					<i class="fa-solid fa-edit me-2"></i>Изменить
				</button>
			</div>
		</div>



		<div class="col-9 p-3">

			<div class="row">
				<div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="mb-0">
							<i class="fa-solid fa-file-pen"></i> Описание
						</h5>
						<button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#editDescriptionModal" type="button">
							<i class="fa-solid fa-pen"></i> Изменить
						</button>
					</div>
					<div class="mt-3">
						<p>Здесь текст описания...</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="mb-0">
							<i class="fa-solid fa-clipboard-list"></i> Учет выполненных работ
						</h5>
						<button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#addCompletedWorkModal" type="button">
							<i class="fa-solid fa-plus"></i> Добавить
						</button>
					</div>
					<div class="table-responsive mt-3">
						<table id="completedWorkTable" class="table table-bordered align-middle table-hover" style="width:100%">
							<thead class="table-light">
								<tr>
									<th>Дата</th>
									<th>Номер заявки</th>
									<th>Наименование</th>
									<th>Фамилия выполнившего работу</th>
									<th>Статус</th>
									<th>Действия</th>
								</tr>
							</thead>
							<tbody>
								<!-- Динамические данные -->
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="mb-0">
							<i class="fa-solid fa-wrench"></i> Техническое обслуживание
						</h5>
						<button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#addCompletedWorkModal" type="button">
							<i class="fa-solid fa-plus"></i> Добавить
						</button>
					</div>
					<div class="table-responsive mt-3">
						<table id="completedWorkTable" class="table table-bordered align-middle table-hover" style="width:100%">
							<thead class="table-light">
								<tr>
									<th>Дата</th>
									<th>Вид ТО</th>
									<th>Наименование</th>
									<th>Фамилия проводившего ТО</th>
									<th>Действия</th>
								</tr>
							</thead>
							<tbody>
								<!-- Динамические данные -->
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-2 mb-1 bg-body-tertiary rounded">
					<div class="card collapsed-card">
						<div class="card-header">
							<h3 class="card-title mb-0">
								<i class="fa-solid fa-list me-2"></i>Характеристики
							</h3>
							<div class="card-tools">
								<button type="submit" title="Добавить" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#createCharacteristicModal">
									<i class="fas fa-square-plus"></i>
								</button>
								<button type="button" title="Отобразить / Скрыть" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" title="Убрать" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>

						<div class="card-body">
							<table id="characteristic" class="table table-bordered table-hover align-middle">
								<thead class="table">
									<tr>
										<th>Показатель</th>
										<th>Ед. измерения</th>
										<th>Значение</th>
										<th>Действия</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-2 mb-1 bg-body-tertiary rounded">
					<div class="card collapsed-card">
						<div class="card-header">
							<h3 class="card-title mb-0">
                                <i class="fa-solid fa-handshake me-2"></i>Прием и передача изделия
							</h3>
							<div class="card-tools">
								<button type="submit" title="Добавить" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#addReceptionAndTransmissionModal">
									<i class="fas fa-square-plus"></i>
								</button>
								<button type="button" title="Отобразить / Скрыть" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" title="Убрать" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>

						<div class="card-body">
							<table id="receptionAndTransmissionTable" class="table table-bordered align-middle table-hover">
								<thead class="table">
									<tr>
										<td>Дата</td>
										<td>Состояние изделия</td>
										<td>Основание (наименование и номер документа)</td>
										<td>Предприятие и ФИО сдавшего</td>
										<td>Предприятие и ФИО принявшего</td>
										<td>Примечание</td>
										<td></td>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-2 mb-1 bg-body-tertiary rounded">
					<div class="card collapsed-card">
						<div class="card-header">
							<h3 class="card-title mb-0">
								<i class="fa-solid fa-screwdriver-wrench me-2"></i>Ремонт
							</h3>
							<div class="card-tools">
								<button type="submit" title="Добавить" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#addRepairModal">
									<i class="fas fa-square-plus"></i>
								</button>
								<button type="button" title="Отобразить / Скрыть" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" title="Убрать" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>

						<div class="card-body">
							<table id="repairTable" class="table table-bordered align-middle table-hover" style="width:100%">
								<thead class="table">
									<tr>
										<td>Дата</td>
										<td>Предприятие</td>
										<td>Причина поступления в ремонт</td>
										<td>Сведения о производственном ремонте</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-2 mb-1 bg-body-tertiary rounded">
					<div class="card collapsed-card">
						<div class="card-header">
							<h3 class="card-title mb-0">
								<i class="fa-solid fa-box-archive me-2"></i>Хранение
							</h3>
							<div class="card-tools">
								<button type="submit" title="Добавить" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#addStorageModal">
									<i class="fas fa-square-plus"></i>
								</button>
								<button type="button" title="Отобразить / Скрыть" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" title="Убрать" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>

						<div class="card-body">
							<table id="storageTable" class="table table-bordered align-middle table-hover" style="width:100%">
								<thead class="table">
									<tr>
										<td>Дата приемки на хранение</td>
										<td>Дата снятия с хранения</td>
										<td>Условия хранения</td>
										<td>Вид хранения</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-2 mb-1 bg-body-tertiary rounded">
					<div class="card collapsed-card">
						<div class="card-header">
							<h3 class="card-title mb-0">
								<i class="fa-solid fa-warehouse me-2"></i>Консервация
							</h3>
							<div class="card-tools">
								<button type="submit" title="Добавить" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#addConservationModal">
									<i class="fas fa-square-plus"></i>
								</button>
								<button type="button" title="Отобразить / Скрыть" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" title="Убрать" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>

						<div class="card-body">
							<table id="conservationTable" class="table table-bordered align-middle table-hover" style="width:100%">
								<thead class="table">
									<tr>
										<td>Дата</td>
										<td>Наименование работ</td>
										<td>Срок действия</td>
										<td>Фамилия и инициалы</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="shadow-sm p-2 mb-1 bg-body-tertiary rounded">
					<div class="card collapsed-card">
						<div class="card-header">
							<h3 class="card-title mb-0">
								<i class="fa-solid fa-timeline me-2"></i>История операций
							</h3>
							<div class="card-tools">
								<button type="button" title="Отобразить / Скрыть" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<button type="button" title="Убрать" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>

						<div class="card-body">
							<table id="disposalInformationTable" class="table table-bordered align-middle table-hover" style="width:100%">
								<thead class="table">
									<tr>
										<td>Дата</td>
										<td>Тип операции</td>
										<td>Наименование операции</td>
										<td>ФИО</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

@await Html.PartialAsync("InfoModal/_AddCharacteristicModal.cshtml")
@await Html.PartialAsync("InfoModal/_AddCompletedWorkModal.cshtml")
@await Html.PartialAsync("InfoModal/_AddConservationModal.cshtml")
@await Html.PartialAsync("InfoModal/_AddDescriptionModal.cshtml")
@await Html.PartialAsync("InfoModal/_AddReceptionAndTransmissionModal.cshtml")
@await Html.PartialAsync("InfoModal/_AddRepairModal.cshtml")
@await Html.PartialAsync("InfoModal/_AddStorageModal.cshtml")
@await Html.PartialAsync("InfoModal/_EditAdditionalModal.cshtml")
@await Html.PartialAsync("InfoModal/_EditBasicModal.cshtml")
@await Html.PartialAsync("InfoModal/_EditDescriptionModal.cshtml")

@section Scripts {
	<script src="~/views/technicalEquipment/info.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/characteristics.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/completedWork.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/conservation.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/disposalInformation.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/receptionAndTransmission.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/repair.js" asp-append-version="true"></script>
	<script src="~/views/technicalEquipment/info/storage.js" asp-append-version="true"></script>
}